RewriteEngine On

# Redirect requests for /index.html to /home (removing .html from the URL)
RewriteRule ^index\.html$ /home [R=301,L]

# Redirect the root URL (/) to /home
RewriteRule ^$ /home [R=301,L]

# Internally rewrite URLs by appending .html if the file exists
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]
